{% extends "base.html" %}

{% load markdownify %}

{% block title %}{{ event.title }}{% endblock title %}

{% block content %}
      <section id="next-meetup" class="mb-16">
          <h2 class="text-3xl font-bold mb-6 text-python-blue">Το μίτάπ</h2>
      <div class="bg-white rounded-lg shadow-md overflow-hidden">
          <div class="bg-py-accent text-white p-6">
              <h3 class="text-2xl font-bold">
                  {{ event.title }}
              </h3>
              <div class="flex items-center mt-3">
                  <i class="fa-solid fa-calendar-days fa-lg mr-2"></i>
                  <span>{{ event.date_time|date:"l j E Y, H:i" }}</span>
              </div>
              <div class="flex items-center mt-2">
                  <i class="fa-solid fa-location-dot fa-lg mr-2"></i>
                  <span>
                      <a href="{{ event.venue.address_url }}">{{ event.venue.name }}</a>
                  </span>
              </div>
          </div>
          <div class="p-6 meetup-description">
            <div class="text-gray-700 mb-4 event-description">
              {{ event.description|markdownify }}
              </div>
          </div>
      </div>
      </section>

      {% if event.presentations.count %}
      <section id="presentations" class="mb-16">
          <h2 class="text-3xl font-bold mb-6 text-python-blue">Παρουσιάσεις</h2>
          <div class="grid gap-6">
            {% for presentation in event.presentations.all %}
              <div class="card bg-white rounded-lg p-4 border-l-4 border-python-yellow">
                <h3 class="text-xl font-semibold mb-2">
                  {% if presentation.url %}
                    <a href="{{ presentation.url }}" class="hover:underline">{{ presentation.name }}</a>
                  {% else %}
                    {{ presentation.name }}
                  {% endif %}
                </h3>
                <p class="text-sm text-gray-600">
                  {% for presenter in presentation.presenters.all %}
                  {% if presenter.url %}
                    <a href="{{ presenter.url }}">{{ presenter.name }}</a>
                  {% else %}
                    {{ presenter.name }}
                  {% endif %}
                  {% if not forloop.last %}
                  <br />
                  {% endif %}
                  {% endfor %}
                </p>
              </div>
            {% endfor %}
          </div>
      </section>
      {% endif %}
{% endblock %}
